# Querying Data Tutorial

MLDB comes with a powerful [SQL-like Select Query](/doc/#builtin/sql/Sql.md.html) implementation accessible via its [REST API](/doc/#builtin/sql/QueryAPI.md.html). This tutorial will show a few different ways to query data.

The notebook cells below use `pymldb`; you can check out the [Using `pymldb` Tutorial](/doc/nblink.html#_tutorials/Using pymldb Tutorial) for more details.

In [8]:
from pymldb import Connection
mldb = Connection()

## Creating a sample dataset

First we will create a sample dataset, much like in the [Loading Data Tutorial](/doc/nblink.html#_tutorials/Loading Data Tutorial):

In [2]:
ex = mldb.put('/v1/datasets/example', {"type":"sparse.mutable"})
mldb.post('/v1/datasets/example/rows', { "rowName": "r1", "columns": [ ["a", 1, 0], ["b", 2, 0] ] })
mldb.post('/v1/datasets/example/rows', { "rowName": "r2", "columns": [ ["a", 3, 0], ["b", 4, 0] ] })
mldb.post('/v1/datasets/example/rows', { "rowName": "r3", "columns": [ ["a", 5, 0], ["b", 6, 0] ] })
mldb.post('/v1/datasets/example/rows', { "rowName": "r4", "columns": [ ["a", 7, 0], ["b", 8, 0] ] })
mldb.post('/v1/datasets/example/commit')

## Querying into a DataFrame

We can use the `query()` shortcut function to run queries and get the results as Pandas DataFrames

In [3]:
df = mldb.query("select * from example")
print type(df)
df

<class 'pandas.core.frame.DataFrame'>

          a  b
_rowName
r1        1  2
r3        5  6
r2        3  4
r4        7  8

## Querying via REST

We can also make lower-level REST API calls to the two endpoints in the [Query API](/doc/#builtin/sql/QueryAPI.md.html): `/v1/query` for full SQL queries and `/v1/datasets/<id>` for piece-wise queries.

In [4]:
mldb.get('/v1/query', q="select * from example where a > 4", format="table")

In [6]:
mldb.get('/v1/datasets/example/query',
    select = "*",
    where="a > 4",
    format="table"
)

We can control the format of the output JSON using the `format` attribute:

In [7]:
mldb.get('/v1/datasets/example/query',
    select = "*",
    where="a > 4",
    format="aos"
)

## Where to next?

Check out the other [Tutorials and Demos](/doc/#builtin/Demos.md.html).